@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

/* GLOBAL  */

.App {
    font-family: 'Libre Baskerville', serif;
    background: rgb(236, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline;
}

.flex-column {
    display: flex;
    flex-direction: column;
    
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.centered {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex4 {
    flex: 4;
}

.flex6 {
    flex: 6;
}

.flex8 {
    flex: 8;
}

.flex9 {
    flex: 9;
}

/* NAV SECTION  */

.navLogo {
    max-width: 128px;
}

/* CONTENT  */

.episodeCard {

}