@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

/* GLOBAL  */

.App {
    font-family: 'Libre Baskerville', serif;
    background: rgb(236, 0, 0);
    /* background: linear-gradient(180deg, rgba(236,0,0,1) 35%, rgba(255,255,255,1) 26%); */
    color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

#footer {
  /* background: rgb(236, 0, 0); */
  background: #F0F0F0;
  width: 100%;
}

ul {
    list-style: none;
}

li {
    margin: 5px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline;
}

.flex-column {
    display: flex;
    flex-direction: column;
    
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.centered {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex1 {
    flex: 10;
}

.flex2 {
    flex: 20;
}

.flex4 {
    flex: 40;
}

.flex6 {
    flex: 60;
}

.flex8 {
    flex: 80;
}

.flex9 {
    flex: 90;
}

/* NAV SECTION  */

.navBar {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 5;
}

.navLogo {
    max-width: 64px;
}

.App {
  margin: 0px;
  padding: 0px;
}

/* CONTENT  */

/* CARDS CARDS CARDS  */

.episodeCardContainer {
    overflow: scroll;
    background: #F0F0F0;
}



.episodeCard {
   border: 3px solid black;
   border-radius: 5px;
   width: 200px;
   height: 48%;
   margin: 5px;
}

.episodeImage {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
}

.episodeDetails {
    font-size: .5em;
}


/* SINGLE EPISODE SINGLE EPISODE SINGLE EPISODE  */

.SingleEpisodeContainer {
  overflow: scroll;
  background: #F0F0F0;
}

.episodeMetaSticky {
  /* position: absolute; */
}

.episodeMetaScroll {
  /* position: relative; */
}

.episodeMetaStickyTopRow {
  justify-content: space-between;
  padding: 5px;
}

.singleEpisodeBackButton {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#singleEpisodeDateText {
  font-size: 10px;
}
.singleEpisodePlayAndTitle {
  padding: 10px;
  align-items: center;
}

#singleEpisodeTitle{
  font-size: 24px;
}

.singleEpisodeText {
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  font-size: 12px;
}
#playIcon {
  margin-right: 10px;
}
.playEpisodeButton {
  margin-right: 10px;
  border-radius: 10px;
}

 hr {
   width: 80%;
   -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
 }

 .episodeMetadataImg {
  max-width: 50%;
  border-radius: 30px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.singleEpisodeActs {
  margin: 10px;
  justify-content: center;
  align-items: center;
  
}

.actContainer {
  width: 80%;
}

.blackLink {
  color: black;
}

.blackLink:hover {
  cursor: pointer;
}
/* INTRO INTRO INTRO INTRO INTRO  */

h2 {
  font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

h3 {
  font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

p {
  font-family: "Open Sans", sans-serif;

}

#introComponent {
  text-align: center;
}



/* CARDS CARDS CARDS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(#034378), to(#2d4e68));
  background-image: linear-gradient(to right, #034378, #2d4e68);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

.card {
  float: left;
  padding: 0 1rem;
  width: 50%;
  margin: 10px;
  max-width:300px;
}

.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card .menu-content::before, .card .menu-content::after {
  content: '';
  display: table;
}

.card .menu-content::after {
  clear: both;
}

.card .menu-content li {
  display: inline-block;
}

.card .menu-content a {
  color: black;
}

.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.card .wrapper {
  background-color: black;
  min-height: 360px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.card .wrapper:hover .data {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card .wrapper:hover .text {
  color: black;
  -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: fadeIn;
  animation-duration: 1s;
}

.card .wrapper:hover .button {
  color: black;
  -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: fadeIn;
  animation-duration: 1s;

}

@-webkit-keyframes fadeIn {
  from {color: white;}
  to {color: black;}
}

@keyframes fadeIn {
  from {color: white;}
  to {color: black;}
}


.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.card .author {
  font-size: 10px;
  color: black;
  text-align: left;
  /* float: left; */
  margin: 5px;
  margin-left: -65px;
}

.card .title {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  

}

.card .text {
  height: 70px;
  margin: 0;
  color: black;
  font-size: .7em;
  overflow: auto;
}

.card input[type='checkbox'] {
  display: none;
}

.card input[type='checkbox']:checked + .menu-content {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.episodeCardStyle .wrapper {
  /* border: 3px solid black; */
  border-radius: 10px;
}

.episodeCardStyle .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #77d7b9;
  color: #fff;
  padding: 0.6em;
  border-radius: 0 1px 10px 1px;
}

.episodeCardStyle .date span {
  display: block;
  text-align: center;
}

.episodeCardStyle .date .day {
  font-weight: 700;
  font-size: 20px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}

.episodeCardStyle .date .month {
  text-transform: uppercase;
}

.episodeCardStyle .date .month,
.episodeCardStyle .date .year {
  font-size: 12px;
}

.episodeCardStyle .content {
  background-color: white;
  -webkit-box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.episodeCardStyle .title a {
  color: black;
}

.episodeCardStyle .menu-button {
  position: absolute;
  z-index: 999;
  top: 16px;
  right: 16px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}

.episodeCardStyle .menu-button span {
  width: 5px;
  height: 5px;
  background-color: gray;
  color: gray;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}

.episodeCardStyle .menu-button span::after, .episodeCardStyle .menu-button span::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: currentColor;
  position: absolute;
  border-radius: 50%;
}

.episodeCardStyle .menu-button span::before {
  left: -10px;
}

.episodeCardStyle .menu-button span::after {
  right: -10px;
}

.episodeCardStyle .menu-content {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.episodeCardStyle .menu-content li {
  width: 33.333333%;
  float: left;
  background-color: #77d7b9;
  height: 60px;
  position: relative;
}

.episodeCardStyle .menu-content a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
}

.episodeCardStyle .menu-content span {
  top: -10px;
}

.episodeCardStyle .button {

  /* display: block; */
  /* width: 100%; */
  margin: 5px;
  margin-top: 7px;
  /* margin-right: 20px; */
  float: right;
  text-align: center;
  font-size: 10px;
  /* color: black; */
  line-height: 1;
  position: relative;
  /* font-weight: 700; */
}

.episodeCardStyle .button::after {
  content: '\2192';
  opacity: 0;
  /* position: absolute; */
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.episodeCardStyle .button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}

.readMoreFooter {
 width: 100%;
}


/* SCROLL REVEAL SCROLL REVEAL SCROLL REVEAL  */

html.sr .load-hidden {
  visibility: hidden;
}

html.sr .widget {
  visibility: hidden;
}


/* LOGIN MODAL  */

.modalBody {
  height: 500px;
  width: 500px;
  border: solid 3px black;
  z-index: 1;
  background: grey;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: center;
  margin-top: 100px;;
  border-radius: 10px;
  opacity: .9;
  

}

.loginText {
  text-align: center;
}

.loginForm {

 border: 2px solid green;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 height: 100%;

}

.loginInputs {
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

.episodeMetadataModalBody {
  height: 80%;
  width: 50%;
  border: solid 3px black;
  z-index: 1;
  background: grey;
  overflow: auto;
  position: absolute;
  align-self: center;
  margin-top: 100px;;
  border-radius: 10px;
  opacity: .9;
}

.episodeMetadataContainerRendered {

  display: flex;
  flex-direction: column;
}